body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(../img/gradient.svg) center 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: center; }
  body #landing-page {
    visibility: hidden;
    height: 100%;
    width: 100%; }
    body #landing-page #logo {
      text-align: center;
      font-size: 65px;
      padding-top: 50px;
      padding-bottom: 20px; }
      body #landing-page #logo a {
        color: black;
        text-decoration: none; }
      body #landing-page #logo span {
        font-weight: 800; }
    body #landing-page #example {
      width: 440px;
      margin: 0 auto; }
    body #landing-page #description {
      margin: 20px 0px; }
    body #landing-page #pitch {
      font-weight: 800;
      font-size: 20px;
      margin: 20px 0; }
      body #landing-page #pitch a {
        color: black;
        text-decoration: none;
        border-bottom: 2px solid black; }
        body #landing-page #pitch a:hover {
          border-bottom: 2px dashed black; }
    body #landing-page #buttons {
      color: white; }
    body #landing-page #upload-song-button {
      font-weight: 300;
      width: 180px;
      height: 90px;
      background: black;
      margin: 0px auto;
      cursor: pointer;
      opacity: 0.9; }
      body #landing-page #upload-song-button:hover {
        opacity: 1; }
    body #landing-page #nav {
      width: 180px;
      margin: 10px auto; }
    body #landing-page #blog-button, body #landing-page #about-button {
      font-weight: 300;
      width: 85px;
      background: black;
      opacity: 0.5;
      font-size: 20px;
      cursor: pointer; }
      body #landing-page #blog-button:hover, body #landing-page #about-button:hover {
        opacity: 1; }
    body #landing-page #about-button {
      float: left; }
    body #landing-page #blog-button {
      float: right; }
  body #transition-finder {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    body #transition-finder .back-button, body #transition-finder .help-button {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 10px;
      opacity: 0.6; }
      body #transition-finder .back-button:hover, body #transition-finder .help-button:hover {
        opacity: 0.8; }
    body #transition-finder .back-button {
      left: 10px; }
    body #transition-finder .help-button {
      left: 70px; }
    body #transition-finder .main-container {
      position: absolute;
      height: 300px;
      width: 100%;
      top: 30vh; }
    body #transition-finder .directions {
      width: 370px;
      font-size: 20px;
      font-weight: 800;
      padding-top: 10px;
      padding-bottom: 3px;
      border-bottom: 2px black solid;
      margin: 0 auto; }
    body #transition-finder .controls {
      position: relative;
      width: 360px;
      height: 75px;
      margin: 13px auto; }
      body #transition-finder .controls .play, body #transition-finder .controls .pause {
        position: absolute;
        left: 0px; }
        body #transition-finder .controls .play:hover, body #transition-finder .controls .pause:hover {
          opacity: 0.8; }
      body #transition-finder .controls .pause {
        visibility: hidden; }
      body #transition-finder .controls .back-5, body #transition-finder .controls .back-x {
        position: absolute;
        right: 0px; }
        body #transition-finder .controls .back-5:hover, body #transition-finder .controls .back-x:hover {
          opacity: 0.8; }
      body #transition-finder .controls .back-x {
        visibility: hidden; }
      body #transition-finder .controls .transition {
        margin: 0 auto; }
        body #transition-finder .controls .transition:hover {
          opacity: 0.8; }
      body #transition-finder .controls .done {
        position: absolute;
        left: 112.5px;
        top: 165px;
        opacity: 0.5; }
        body #transition-finder .controls .done:hover {
          opacity: 1; }
    body #transition-finder .player {
      position: relative;
      margin: 0 auto;
      height: 60px;
      width: 62.5%; }
      body #transition-finder .player .player-background {
        position: absolute;
        top: 15px;
        left: 60px;
        right: 60px;
        height: 30px;
        background: #ddd; }
      body #transition-finder .player .progress-bar {
        width: 20%;
        height: 100%;
        background: #496274; }
        body #transition-finder .player .progress-bar:hover {
          opacity: 0.9; }
      body #transition-finder .player .elapsed-time, body #transition-finder .player .remaining-time {
        font-size: 17px;
        font-weight: 800;
        color: #caced1;
        position: absolute;
        height: 100%;
        width: 60px;
        background: #7e878e; }
      body #transition-finder .player .elapsed-time {
        left: 0px; }
      body #transition-finder .player .remaining-time {
        right: 0px; }
  body #group-sections {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    body #group-sections .back-button, body #group-sections .help-button {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 10px;
      opacity: 0.6; }
      body #group-sections .back-button:hover, body #group-sections .help-button:hover {
        opacity: 0.8; }
    body #group-sections .back-button {
      left: 10px; }
    body #group-sections .help-button {
      left: 70px; }
    body #group-sections .directions {
      width: 450px;
      font-size: 20px;
      font-weight: 800;
      padding-bottom: 3px;
      border-bottom: 2px black solid;
      margin: 0 auto;
      margin-top: 80px; }
    body #group-sections .editor {
      margin-top: 7px; }
      body #group-sections .editor .original, body #group-sections .editor .group {
        height: 60px;
        margin-bottom: 14px; }
        body #group-sections .editor .original .song, body #group-sections .editor .group .song {
          position: relative;
          width: 70%;
          height: 100%;
          margin: 0 auto; }
          body #group-sections .editor .original .song .controls, body #group-sections .editor .group .song .controls {
            visibility: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; }
            body #group-sections .editor .original .song .controls .play, body #group-sections .editor .group .song .controls .play {
              position: absolute;
              left: -69.1px; }
            body #group-sections .editor .original .song .controls .delete, body #group-sections .editor .group .song .controls .delete {
              position: absolute;
              right: -69.1px; }
          body #group-sections .editor .original .song .next, body #group-sections .editor .group .song .next {
            position: absolute;
            right: 0; }
          body #group-sections .editor .original .song .background, body #group-sections .editor .group .song .background {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #26455c;
            opacity: 0.05; }
          body #group-sections .editor .original .song .sections, body #group-sections .editor .group .song .sections {
            position: absolute;
            top: 7px;
            bottom: 7px;
            left: 7px;
            right: 7px; }
            body #group-sections .editor .original .song .sections section, body #group-sections .editor .group .song .sections section {
              position: relative;
              float: left;
              height: 100%;
              width: 33.33%; }
              body #group-sections .editor .original .song .sections section div, body #group-sections .editor .group .song .sections section div {
                position: absolute;
                background: #455c6f;
                left: 2px;
                right: 0;
                height: 100%;
                opacity: 1; }
              body #group-sections .editor .original .song .sections section .progress, body #group-sections .editor .group .song .sections section .progress {
                left: 0;
                width: 0%;
                background: white; }
      body #group-sections .editor .original {
        margin-bottom: 7px; }
        body #group-sections .editor .original .song .sections section div {
          background: #002545; }
        body #group-sections .editor .original .song .background {
          background: none; }

/*# sourceMappingURL=arcsong.css.map */