.inactive {
  display: none; }

.button {
  opacity: 0.5; }
  .button:hover {
    opacity: 0.7; }

.draggedFrom {
  opacity: 0;
  background: white; }

body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: url('../img/png/18.png');
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: center; }
  body .nav .back-button, body .nav .help-button {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 10px;
    opacity: 0.1;
    z-index: 1; }
    body .nav .back-button:hover, body .nav .help-button:hover {
      opacity: 0.2; }
  body .nav .back-button {
    left: 10px; }
  body .nav .help-button {
    left: 70px; }
  body #landing-page {
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif; }
    body #landing-page #description {
      padding-top: 120px;
      padding-bottom: 20px;
      font-size: 29px; }
    body #landing-page .caption {
      font-size: 13px;
      padding-bottom: 10px; }
    body #landing-page #nav {
      width: 180px;
      margin: 10px auto; }
      body #landing-page #nav .action {
        font-size: 20px;
        width: 100%;
        height: 40px;
        background: rgba(81, 117, 132, 0.2);
        cursor: pointer;
        margin: 0 auto; }
        body #landing-page #nav .action:hover {
          background: rgba(81, 117, 132, 0.3); }
      body #landing-page #nav #gallery-button, body #landing-page #nav #about-button {
        height: 40px;
        width: 100%;
        font-size: 20px;
        cursor: pointer; }
        body #landing-page #nav #gallery-button:hover, body #landing-page #nav #about-button:hover {
          background: rgba(81, 117, 132, 0.1); }
  body #transition-finder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    body #transition-finder .main-container {
      position: absolute;
      height: 300px;
      width: 100%;
      top: 30vh; }
    body #transition-finder .directions {
      width: 370px;
      font-size: 20px;
      font-weight: 800;
      padding-top: 10px;
      padding-bottom: 3px;
      border-bottom: 2px black solid;
      margin: 0 auto; }
    body #transition-finder .controls {
      position: relative;
      width: 360px;
      height: 75px;
      margin: 13px auto; }
      body #transition-finder .controls .play, body #transition-finder .controls .pause {
        position: absolute;
        left: 0px; }
      body #transition-finder .controls .pause {
        display: none; }
      body #transition-finder .controls .back-5, body #transition-finder .controls .back-x {
        position: absolute;
        right: 0px; }
      body #transition-finder .controls .back-x {
        visibility: hidden; }
      body #transition-finder .controls .transition {
        margin: 0 auto;
        opacity: 0.7; }
        body #transition-finder .controls .transition:hover {
          opacity: 0.9; }
      body #transition-finder .controls .done {
        position: absolute;
        left: 112.5px;
        top: 165px; }
    body #transition-finder .player {
      position: relative;
      margin: 0 auto;
      height: 60px;
      width: 62.5%; }
      body #transition-finder .player .player-background {
        position: absolute;
        top: 15px;
        left: 60px;
        right: 60px;
        height: 30px;
        background: #ddd; }
        body #transition-finder .player .player-background .progress-bar {
          width: 0%;
          height: 100%;
          background: #496274; }
          body #transition-finder .player .player-background .progress-bar:hover {
            opacity: 0.9; }
        body #transition-finder .player .player-background .transition-marker {
          opacity: 0;
          background: #d3d3d3;
          height: 100%;
          width: 1px;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0; }
      body #transition-finder .player .elapsed-time, body #transition-finder .player .remaining-time {
        font-size: 16px;
        font-weight: 800;
        color: #caced1;
        color: white;
        position: absolute;
        height: 100%;
        width: 60px;
        background: #7e878e;
        opacity: 0.6; }
      body #transition-finder .player .elapsed-time {
        left: 0px; }
      body #transition-finder .player .remaining-time {
        right: 0px; }
    body #transition-finder.playing .controls .play {
      display: none; }
    body #transition-finder.playing .controls .pause {
      display: block; }
  body #group-sections {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    body #group-sections .back-button, body #group-sections .help-button {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 10px; }
    body #group-sections .back-button {
      left: 10px; }
    body #group-sections .help-button {
      left: 70px; }
    body #group-sections .directions {
      width: 450px;
      font-size: 20px;
      font-weight: 800;
      padding-bottom: 3px;
      border-bottom: 2px black solid;
      margin: 0 auto;
      margin-top: 80px; }
    body #group-sections .editor {
      margin-top: 7px; }
      body #group-sections .editor .original, body #group-sections .editor .group {
        height: 60px;
        margin-bottom: 14px; }
        body #group-sections .editor .original .song, body #group-sections .editor .group .song {
          position: relative;
          width: 70%;
          height: 100%;
          margin: 0 auto; }
          body #group-sections .editor .original .song .controls, body #group-sections .editor .group .song .controls {
            visibility: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; }
            body #group-sections .editor .original .song .controls .play, body #group-sections .editor .group .song .controls .play {
              position: absolute;
              left: -69.1px; }
            body #group-sections .editor .original .song .controls .delete, body #group-sections .editor .group .song .controls .delete {
              position: absolute;
              right: -69.1px; }
          body #group-sections .editor .original .song .next, body #group-sections .editor .group .song .next {
            position: absolute;
            right: 0; }
          body #group-sections .editor .original .song .background, body #group-sections .editor .group .song .background {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #26455c;
            opacity: 0.05; }
          body #group-sections .editor .original .song .sections, body #group-sections .editor .group .song .sections {
            position: absolute;
            top: 7px;
            bottom: 7px;
            left: 7px;
            right: 7px; }
            body #group-sections .editor .original .song .sections section, body #group-sections .editor .group .song .sections section {
              position: relative;
              float: left;
              height: 100%;
              width: 33.33%; }
              body #group-sections .editor .original .song .sections section div, body #group-sections .editor .group .song .sections section div {
                position: absolute;
                background: #455c6f;
                left: 2px;
                right: 0;
                height: 100%;
                opacity: 1; }
              body #group-sections .editor .original .song .sections section .progress, body #group-sections .editor .group .song .sections section .progress {
                left: 0;
                width: 0%;
                background: white; }
      body #group-sections .editor .original {
        margin-bottom: 7px; }
        body #group-sections .editor .original .song .sections section div {
          background: #002545; }
        body #group-sections .editor .original .song .background {
          background: none; }

/*# sourceMappingURL=arcsong.css.map */