// Mixins
@mixin sides($top,$bottom,$left,$right) {
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}
@mixin sides-all($x) {
    top: $x;
    bottom: $x;
    left: $x;
    right: $x;
}
.inactive {
    display: none;
}
.button {
    opacity: .5;
    &:hover {opacity: .7;}
}
.draggedFrom {
    opacity: 0;
    background: white;
}
body {
    position: absolute;
    top: 1px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url('../img/png/18.png');
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    text-align: center;
    .nav {
        .back-button, 
        .help-button { 
            position:absolute;
            height: 50px; 
            width: 50px;
            top: 10px;
            opacity: .1;
            z-index: 1;
            &:hover {
                opacity: .2;
                }
        }
        .back-button {
            left:10px;
        }
        .help-button { 
            left: 70px;
        }
    }
    #landing-page {
        height: 100%;
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
        #description {
            padding-top: 120px;
            padding-bottom: 20px;
            font-size: 29px;
        }
        .caption {
            font-size: 13px;
            padding-bottom: 10px;
        }
        #nav {
            width: 180px;
            margin: 10px auto;
            .action {
                font-size: 20px;
                width: 100%;
                height: 40px;
                background: rgba(81,117,132,0.2);
                cursor: pointer;
                margin: 0 auto;
                &:hover {background:  rgba(81,117,132,0.3);}
            }   
            #gallery-button,
            #about-button {
                height: 40px;
                width: 100%;
                font-size: 20px;
                cursor: pointer;
                &:hover {background:  rgba(81,117,132,0.1);}
            }            
        }    
}
    #transition-finder {
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        .main-container {
            position: absolute;
            height: 300px;
            width: 100%;
            top: 30vh;
        }
        .directions {
            width: 370px;
            font-size: 20px;
            font-weight: 800;
            padding-top: 10px;
            padding-bottom: 3px;
            border-bottom: 2px black solid;
            margin: 0 auto;
        }
        .controls {
            position: relative;
            width: 360px;
            height: 75px;
            margin: 13px auto;
            .play,
            .pause { 
                position: absolute;
                left: 0px;
                &:hover {
//                opacity: .8;
                }
            }
            .back-5,
            .back-x { 
                position: absolute;
                right: 0px;
            }
            .back-x {
                visibility: hidden;
            }
            .transition {
                margin: 0 auto;
                opacity: .7;
                &:hover {opacity: .9;}
            }
            .done {
                position: absolute;
                left: 112.5px;
                top: 165px;
            }
        }
        .player {
            position: relative;
            margin: 0 auto;
            height: 60px;
            width: 62.5%;
            .player-background {
                position: absolute;
                top: 15px;
                left: 60px;
                right: 60px;
                height: 30px; 
                background: #ddd;
                .progress-bar {
                    width: 0%;
                    height: 100%;
                    background: #496274;
                    &:hover {opacity: 0.9}
                }
                .transition-marker {
                    opacity: 1;
                    background: #d3d3d3;
                    height: 100%;
                    width: 1px;
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left:0;
                }
            }         
            .elapsed-time,
            .remaining-time {
                font-size: 16px;
                font-weight: 800;
                color: #caced1;
                color: white;
                position: absolute;
                height: 100%;
                width: 60px;
                background: #7e878e;
                opacity: .6;
            }
            .elapsed-time {
                left:0px;
            }
            .remaining-time {
                right: 0px;
            }
        }
        &.playing {
            .controls { 
                .play {
                    display: none;
                }
                .pause {
                    display: block;
                }                
            }
        }
    }
    #group-sections {
        $border-size: 7px;
        $row-height: 60px;
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        .back-button, 
        .help-button { 
            position:absolute;
            height: 50px; 
            width: 50px;
            top: 10px;
        }
        .back-button {
            left:10px;
        }
        .help-button { 
            left: 70px;
        }
        .directions {
            width: 450px;
            font-size: 20px;
            font-weight: 800;
            padding-bottom: 3px;
            border-bottom: 2px black solid;
            margin: 0 auto;  
            margin-top: 80px;
        }
        .editor{
            margin-top: $border-size;
            .original,
            .group {
                height: $row-height;
                margin-bottom: 2 * $border-size;
                .song {
                    position: relative;
                    width: 70%;
                    height: 100%;
                    margin: 0 auto;
                    .controls {
                        visibility: hidden;
                        position: absolute;
                        @include sides-all(0);
                        .play {
                            position: absolute;
                            left: -60px - 1.3 * $border-size;
                        }
                        .delete {
                            position: absolute;
                            right: -60px - 1.3 * $border-size;
                        }
                    }
                    .next {
                        position: absolute;
                        right: 0;
                    }                    
                    .background {
                        position: absolute;
                        @include sides-all(0);
                        background: #26455c;
//                        opacity: .25;
                        opacity: .05;
                    }
                    .sections {
                        position: absolute;
                        @include sides-all($border-size);
                        .section {
                            position: absolute;
                            height: 100%;                   
                            div {
                                position: absolute;
                                background: #455c6f;
                                left: 2px;
                                right: 0;
                                height: 100%;
                                opacity: 1;
                            }
                            .progress {
//                                @include sides-all(0);
                                left: 0;
                                width: 0%;
                                background: white;
                            }
                        }
                    }
                }
            }
            .original {
                margin-bottom: $border-size;
                .song {
                    .sections .section div {
                        background: #002545;
                    }
                    .background {
                        background: none;
                    }
                }

            }
        }
    }
}







































