/*https://github.com/katspaugh/wavesurfer.js/blob/master/README.md*/
body {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: url(gradient.svg) center 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    text-align: center;
}

#landing-page {
    visibility: hidden;
    height: 100%;
    width: 100%;

}

#logo {
	text-align: center;
	font-size: 65px;
    padding-top: 50px;
    padding-bottom: 20px;
}

#logo a {
    color: black;
    text-decoration: none;
}

#logo span {
    font-weight: 800;
}

#example {
    width: 440px;
    margin: 0 auto;
}

#description {
    margin: 20px 0px;
}

#pitch {
    font-weight: 800;
    font-size: 20px;
    margin: 20px 0;
}

#pitch a {
    color: black;
}

#buttons {
    color: white;
}

#upload-song-button {
    font-weight: 300;
    width: 180px;
    height: 90px;
    background: black;
    margin: 0px auto;
    cursor: pointer;
    opacity: .9;
}

#upload-song-button:hover {
    opacity: 1;
}

#nav {
    width: 180px;
    margin: 10px auto;
}

#blog-button,
#about-button {
    font-weight: 300;
    width: 85px;
    background: black;
    opacity: .5;
    font-size: 20px;
    cursor: pointer;
}

#blog-button:hover,
#about-button:hover{
    opacity: 1;
}

#about-button {
    float: left;
}
#blog-button {
    float: right;
}

/* PAGE 2 This is the page where transitions are identified*/

#transition-finder {
/*    visibility: hidden;*/
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
}

.back-button, 
.help-button { 
    position:absolute;
    height: 75px; 
    width: 75px;
    top: 10px;
}

.back-button {
    left:10px;
}

.help-button { 
    left: 95px;
}

.directions {
    font-size: 20px;
    font-weight: 800;
    margin-top: 24px;
}