<div id="group-sections" ng-show="main.state==2" ng-controller='GroupSectionsController as gs'>
    <div class="directions">
        Now, drag similar-sounding parts into groups.
    </div>
    <div class="editor">
        <div ng-repeat='group in gs.groups' ng-class="(group==0) ? 'original' : 'group'">
            <div class="song">
<!--
                <div class="controls">
                    <img class="play button" src="img/play_60px.svg">
                    <img class="delete button" src="img/delete.svg">
                </div>
-->
                <div class="background"></div>
                <div class="sections">
                    <div class='section' ng-repeat='s in gs.sections' ng-show='s.group == group' ng-style="{'width': s.duration * 100 + '%', 'left': s.start * 100 + '%'}"><div></div></div>
                </div>
            </div>
        </div>         
    </div>
</div>