<div id="group-sections" ng-show="main.state==2" ng-controller='GroupSectionsController as gs'>
    <div class="directions">
        Now, drag similar-sounding parts into groups.
    </div>
    <div class="editor">
        <div ng-repeat='group in gs.groups' ng-class="(group==0) ? 'original' : 'group'"  data-group="{{group}}" droppable>
            <div class="song">
                <div class="background"></div>
                <div class="sections">
                    <div class='section' ng-repeat='s in gs.sections' ng-show='s.group == group' ng-style="{'width': s.duration * 100 + '%', 'left': s.start * 100 + '%'}"><div data-section="{{s.id}}" ng-mouseenter='gs.play(s)' ng-mouseleave='gs.stop()' draggable></div></div>
                </div>
            </div>
        </div>         
    </div>
</div>